<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nina's Portrait</title>
    <% include partials/header %>
    <link rel="stylesheet" href="/results.css">
    <script src="https://kit.fontawesome.com/406b77ded1.js"></script>
</head>
<body>

<div class="main-container">
    <h1 class="ws-title">Nina's results</h1>
    <h2 class="ws-result-title">
        <% if(username === "") { %>
            <%= "Personality Summary:" %>
        <% } else { %>
            <%= username + "'s Personality Summary:" %>
        <% } %>
    </h2>
    <div class="summary-container">
        <p> <%= summary %> </p>
    </div>
    <h2 class="ws-result-title">Personality Percentiles:</h2>

    <p class="disclaimer">
        Note that the percentiles below represent where the user's traits stand compared to the personalities used in the 
        <a href="https://cloud.ibm.com/docs/services/personality-insights?topic=personality-insights-numeric">Personality Insights API model.</a> For example, 
        a user with 80% for "Openness" means that the user is more open than 80% of the people used in the model.
    </p>

    <div class="traits-container">
        <div class="column-container" id="personality-traits">
            <h3 class="column-title">Personality traits</h3>
            <% for(let i = 0; i < big5Traits.length; ++i) { %>
                <div class="trait big5-trait">
                    <div class="dropdown"> <%= big5Traits[i].name %> <i class="fas fa-angle-down"></i> </div>
                    <div class="percentile-val"> <%= big5Traits[i].percentile %> % </div>
                    <div class="percentile-container">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="sub-trait hide">
                        <% for(let j = 0; j < big5Traits[i].children.length; ++j) { %>
                            <div class="sub-trait-title"> <%= big5Traits[i].children[j].name %> </div>
                            <div class="percentile-val"> <%= big5Traits[i].children[j].percentile %> % </div>
                            <div class="percentile-container">
                                <div class="circle"></div>
                                <div class="line"></div>
                            </div>
                        <% } %>
                    </div>
                    <hr>
                </div>
            <% } %>
        </div>

        <div class="column-container" id="needs">
            <h3 class="column-title">Needs</h3>
            <% for(let i = 0; i < needs.length; ++i) { %>
                <div class="trait">
                    <div> <%= needs[i].name %> </div>
                    <div class="percentile-val"> <%= needs[i].percentile %> % </div>
                    <div class="percentile-container">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <hr>
                </div>
            <% } %>
        </div>

        <div class="column-container" id="values">
            <h3 class="column-title">Values</h3>
            <% for(let i = 0; i < values.length; ++i) { %>
                <div class="trait">
                    <div> <%= values[i].name %> </div>
                    <div class="percentile-val"> <%= values[i].percentile %> % </div>
                    <div class="percentile-container">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <hr>
                </div>
            <% } %>
        </div>
    </div>

</div>


<script src="/results.js"></script>
<script>
    // Unhiding the subtraits to be able to access their width
    const subTraits = document.getElementsByClassName("sub-trait");
    for(let i = 0; i < subTraits.length; ++i) {
        subTraits[i].classList.toggle("hide");
    }

    const circles = document.getElementsByClassName("circle");
    const lines = document.getElementsByClassName("line");
    const bigFiveTraits = <%-JSON.stringify(big5Traits)%>;
    const values = <%-JSON.stringify(values)%>;
    const needs = <%-JSON.stringify(needs)%>;
    let percentileLineIndex = 0;

    percentileLinesInit();

    for(let i = 0; i < subTraits.length; ++i) {
        subTraits[i].classList.toggle("hide");
    }

    function percentileLinesInit() {
        for(let i = 0; i < bigFiveTraits.length; ++i) {
            moveCircleToPosition(circles[percentileLineIndex], lines[percentileLineIndex], bigFiveTraits[i].percentile);
            for(let j = 0; j <  bigFiveTraits[i].children.length; ++j) {
                ++percentileLineIndex;
                moveCircleToPosition(circles[percentileLineIndex], lines[percentileLineIndex], bigFiveTraits[i].children[j].percentile);
            }
            ++percentileLineIndex;
        }

        for(let i = 0; i < needs.length; ++i) {
            moveCircleToPosition(circles[percentileLineIndex], lines[percentileLineIndex], needs[i].percentile);
            ++percentileLineIndex;
        }

        for(let i = 0; i < values.length; ++i) {
            moveCircleToPosition(circles[percentileLineIndex], lines[percentileLineIndex], values[i].percentile);
            ++percentileLineIndex;
        }
    }
    
    function moveCircleToPosition(circle, line, percentileVal) {
        const lineStyles = line.currentStyle || window.getComputedStyle(line);
        const circleWidth = circle.clientWidth; // variable could be deleted
        const lineMarginLeft = parseInt(lineStyles.marginLeft);
        const circlePosition = (line.clientWidth * (percentileVal / 100)) + lineMarginLeft - (circleWidth / 2);
        circle.style.transform = "translateX(" + circlePosition + "px)";
    }
</script>
</body>
</html>