<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nina's Portrait</title>
    <% include partials/header %>
    <link rel="stylesheet" href="/results.css">
    <script src="https://kit.fontawesome.com/406b77ded1.js"></script>
</head>
<body>

<div class="main-container">
    <h1 class="ws-title">Nina's results</h1>
    <h2 class="ws-result-title"><%= username %>'s Personality Summary:</h2>
    <div class="summary-container">
        <p> <%= summary %> </p>
    </div>
    <h2 class="ws-result-title">Personality Percentiles:</h2>

    <p class="disclaimer">
        Note that the percentiles below represent where the user's traits stand compared to the personalities used in the 
        <a href="https://cloud.ibm.com/docs/services/personality-insights?topic=personality-insights-numeric">Personality Insights API model.</a> For example, 
        a user with 80% for "Openness" means that the user is more open than 80% of the people used in the model.
    </p>

    <div class="traits-container">
        <div class="column-container" id="personality-traits">
            <h3 class="column-title">Personality traits</h3>
            <!-- Semicolons matter btw when initializing variables -->
            <% for(let i = 0; i < big5Traits.length; ++i) { %>
                <div class="trait big5-trait">
                    <div class="dropdown"> <%= big5Traits[i].name %> <i class="fas fa-angle-down"></i> </div>
                    <div class="sub-trait hide">
                        <% for(let j = 0; j < big5Traits[i].children.length; ++j) { %>
                            <div> <%= big5Traits[i].children[j].name %> </div>
                        <% } %>
                    </div>
                    <!-- maybe get rid of last hr -->
                    <hr>
                </div>
            <% } %>
        </div>

        <div class="column-container" id="needs">
            <h3 class="column-title">Needs</h3>
            <% for(let i = 0; i < needs.length; ++i) { %>
                <div class="trait">
                    <div> <%= needs[i].name %> </div>
                    <hr>
                </div>
            <% } %>
        </div>

        <div class="column-container" id="values">
            <h3 class="column-title">Values</h3>
            <% for(let i = 0; i < values.length; ++i) { %>
                <div class="trait">
                    <div> <%= values[i].name %> </div>
                    <hr>
                </div>
            <% } %>
        </div>
    </div>

</div>


<script src="/results.js"></script>
</body>
</html>